[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/msplat"]
	path = submodules/msplat
	url = https://github.com/pointrix-project/msplat.git
